<section id="contato" class="bg-zinc-900 text-white py-32 px-6 text-center">
  <div class="max-w-3xl mx-auto">
    <h2
      class="text-4xl md:text-5xl font-bold mb-8 italic uppercase tracking-wider"
      data-i18n="cta-title"
    ></h2>
    <div class="flex flex-col md:flex-row items-center justify-center gap-10">
      <a
        href="mailto:carmemjeovana@gmail.com"
        class="text-lg hover:text-blue-400 transition-all border-b border-white/20 hover:border-blue-400 pb-1"
        >carmemjeovana@gmail.com</a
      >
      <a
        rel="noopener noreferrer"
        href="https://www.linkedin.com/in/carmem-santos"
        target="_blank"
        class="text-lg hover:text-blue-400 transition-all border-b border-white/20 hover:border-blue-400 pb-1 text-zinc-400"
        data-i18n="footer-linkedin"
      ></a>
    </div>
  </div>
</section>

<footer
  class="bg-zinc-900 text-zinc-600 py-16 px-6 border-t border-zinc-800 text-center md:text-left"
>
  <div
    class="max-w-6xl mx-auto flex flex-col md:flex-row justify-between items-center gap-8"
  >
    <div class="text-left">
      <p
        class="text-xs font-bold text-white uppercase tracking-widest"
        data-i18n="footer-name"
      ></p>
      <p
        class="text-[10px] uppercase opacity-50 font-medium"
        data-i18n="footer-copy"
      ></p>
    </div>
    <div class="flex space-x-6">
      <a
        href="mailto:carmemjeovana@gmail.com"
        class="hover:text-white transition-colors text-xs"
        data-i18n="footer-email-link"
      ></a>
      <a
        rel="noopener noreferrer"
        href="https://www.linkedin.com/in/carmem-santos"
        target="_blank"
        class="hover:text-white transition-colors text-xs"
        >LinkedIn</a
      >
    </div>
  </div>
</footer>
